{% extends "base/base-sidebar.html" %}

{% block title %}Distortions Checker{% endblock %}

{% block main %}
    <section class="pla-section-results">
        <div data-pla-messages></div>
        <div class="pla-results" data-pla-results>
            <p class="pla-results-message">Welcome to the distortion checker. Choose a map and begin hunting distortion
                Pokémon!</p>
        </div>
    </section>
{% endblock %}

{% block sidebar %}
    <section class="pla-section-options">
        <div class="pla-control">
            <label for="mapSelect">Choose Map</label>
            <select id="mapSelect">
                <option value="obsidianfieldlands">Obsidian Fieldlands</option>
                <option value="crimsonmirelands">Crimson Mirelands</option>
                <option value="cobaltcoastlands">Cobalt Coastlands</option>
                <option value="coronethighlands">Coronet Highlands</option>
                <option value="alabastericelands">Alabaster Icelands</option>
            </select>
        </div>

        <div class="pla-control">
            <label for="rolls">Shiny Rolls</label>
            <select id="rolls">
                <option value="1">Default</option>
                <option value="2">Dex Research 10</option>
                <option value="4">Dex Research Perfect</option>
                <option value="5">Shiny Charm</option>
                <option value="7">Shiny Charm + Perfect</option>
            </select>
        </div>

        <div class="pla-control-spaced">
            <label for="distortionShinyFilter">Shiny or Alpha</label>
            <input type="checkbox" id="distortionShinyOrAlphaFilter">
        </div>

        <div class="pla-control-spaced">
            <label for="distortionShinyFilter">Shiny Only</label>
            <input type="checkbox" id="distortionShinyFilter">
        </div>

        <div class="pla-control-spaced">
            <label for="distortionAlphaFilter">Alpha Only</label>
            <input type="checkbox" id="distortionAlphaFilter">
        </div>

        <div class="pla-control-actions">
            <button type="button" class="pla-button pla-button-action" id="pla-button-check-distortions">Check
                Distortions</button>
            <button type="button" class="pla-button pla-button-action" id="pla-button-create-distortion">Create
                Distortion</button>
        </div>
    </section>

    <section class="pla-section-info">
        <h3>Distortions</h3>
        <ul class="pla-info-list" data-pla-info-locations>

        </ul>
        <h3>Spawns</h3>
        <ul class="pla-info-list" data-pla-info-spawns>

        </ul>
    </section>
{% endblock %}

{% block templates %}
    <template data-pla-results-template>
        <div class="pla-results-item" data-pla-results-template>
            <ul class="pla-results-heading pla-results-ul">
                <li class="pla-results-species" data-pla-results-species></li>
                <li>At <span class="pla-results-location" data-pla-results-location></span></li>
            </ul>

            <ul class="pla-results-ul">
                <li><span class="pla-results-label">Shiny:</span> <span data-pla-results-shiny></span></li>
                <li><span class="pla-results-label">Alpha:</span> <span data-pla-results-alpha></span></li>
            </ul>

            <ul class="pla-results-ul">
                <li><span class="pla-results-label">Nature:</span> <span data-pla-results-nature></span></li>
                <li><span class="pla-results-label">Gender:</span> <span data-pla-results-gender></span></li>
                <li><span class="pla-results-label">Rolls:</span> <span data-pla-results-rolls></span></li>
            </ul>

            <ul class="pla-results-ul">
                <li><span class="pla-results-label">Seed:</span> <span data-pla-results-seed></span></li>
                <li><span class="pla-results-label">EC:</span> <span data-pla-results-ec></span></li>
                <li><span class="pla-results-label">PID:</span> <span data-pla-results-pid></span></li>
            </ul>

            <div class="pla-results-ivs-container">
                <span class="pla-results-label">IVs:</span>
                <ul class="pla-results-ivs">
                    <li class="pla-results-ivs-hp" data-pla-results-ivs-hp></li>
                    <li class="pla-results-ivs-att" data-pla-results-ivs-att></li>
                    <li class="pla-results-ivs-def" data-pla-results-ivs-def></li>
                    <li class="pla-results-ivs-spa" data-pla-results-ivs-spa></li>
                    <li class="pla-results-ivs-spd" data-pla-results-ivs-spd></li>
                    <li class="pla-results-ivs-spe" data-pla-results-ivs-spe></li>
                </ul>
            </div>
        </div>
    </template>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/distortions.js') }}"></script>
{% endblock %}