:root {
  --color-light: #f2f2f2;
  --color-accent-1: #04b2d9;
  --color-accent-2: #0378a6;
  --color-shadow: #4d4b4a;
  --color-black: #0d0d0d;
  --color-spot: #8abf8d;
  --color-init: #d2270c;
  --color-revisit: #19900c;
  --color-bonus: #CB990B;
  --color-init: #CB990B;
}

/*
  CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: var(--color-black);
  background-color: whitesmoke;
  line-height: 1.5;
}

header {
  padding: 1.5rem clamp(1rem, 5%, 10rem);
}

main {
  padding: 0 clamp(1rem, 5%, 10rem);
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
    "options results"
    "info results"
	"back results"
    ". results";
  gap: 1rem;
}

section {
  background-color: var(--color-light);
  border: 1px solid var(--color-shadow);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 1.2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media screen and (min-width: 992px) {
}

.pla-section-options {
  grid-area: options;
  gap: 0.6rem;
}

.pla-section-info {
  grid-area: info;
}

.pla-section-back {
	grid-area: back;
}

.pla-section-results {
  grid-area: results;
}

.pla-heading-highlight {
  background: -webkit-linear-gradient(
    var(--color-accent-1),
    var(--color-accent-2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pla-section-options input[type="checkbox"] {
  padding: 0.5rem;
}

.pla-section-options select {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.pla-control {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pla-control-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pla-control-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.8rem 0 0.2rem;
  gap: 0.8rem;
}

.pla-action-button {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid var(--color-accent-2);
  background-color: var(--color-accent-1);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.pla-action-button:hover {
  border: 2px solid var(--color-shadow);
}

.pla-action-button:active {
  border: 2px solid var(--color-shadow);
  background: -webkit-linear-gradient(
    var(--color-accent-1),
    var(--color-accent-2)
  );
}


.pla-teleport-button {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid var(--color-accent-2);
  background-color: var(--color-accent-1);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.pla-teleport-button:hover {
  border: 2px solid var(--color-shadow);
}

.pla-teleport-button:active {
  border: 2px solid var(--color-shadow);
  background: -webkit-linear-gradient(
    var(--color-accent-1),
    var(--color-accent-2)
  );
}

.pla-results {
  margin: 1rem auto 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pla-results-item {
  border-radius: 0.4rem 0.4rem 0 0;
  padding: 0.4rem 1rem 0.8rem;
  border: 1px solid var(--color-shadow);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.pla-results-ivs-container {
  display: flex;
  margin-left: 1rem;
}

.pla-results-ivs {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pla-results-ivs li {
  display: inline-block;
}

.pla-results-ivs li:not(:first-child)::before {
  font-weight: normal;
  color: var(--color-black);
  content: " / ";
  margin-left: 0.1rem;
}

.pla-results-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 3ch;
}

.pla-results-heading {
  margin-bottom: 0.4rem;
  justify-content: space-between;
}

.pla-results-ul:not(.pla-results-heading) {
  margin-left: 1rem;
}

.pla-results-ul li:not(:first-child) {
  margin-left: 1rem;
}

.pla-iv-31 {
  font-weight: 500;
}

.pla-iv-0 {
  color: firebrick;
}

.pla-result-true {
  text-transform: capitalize;
  color: var(--color-accent-1);
  font-weight: bold;
}

.pla-result-false {
  text-transform: capitalize;
  color: var(--color-shadow);
}

.pla-results-firstpath {
	color: var(--color-accent-1);
	font-weight: bold;
}

.pla-results-revisit {
	color: var(--color-revisit);
	font-weight: bold;
}

.pla-results-bonus {
	color: var(--color-bonus);
	font-weight: bold;
}

.pla-results-init {
	color: var(--color-init);
	font-weight: bold;
}

.pla-results-species {
  font-size: 1.25rem;
  font-weight: bold;
}

.pla-results-label {
  display: inline-block;
  min-width: 7ch;
}

.pla-loading {
  background-color: #4d4b4a;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
