<nav class="pla-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
		<li>
            <a href="/bdsptid">TID</a>
        </li>
        <li>
            <a href="/underground">Underground</a>
        </li>
        <li>
            <a href="/bdspstationary">Stationary</a>
        </li>
		<li>
            <a href="/bdspwild">Wild</a>
        </li>
		<li>
            <a href="/bdsproamer">Roamers</a>
        </li>
		<li>
            <a href="/bdspegg">Eggs</a>
        </li>
		<li>
            <a href="/cram">SWSH</a>
        </li>
        <li>
            <a href="https://github.com/capitalism-sudo/pla-multi-checker/wiki" target="_blank">Wiki</a>
        </li>
        <li>
            <a href="/settings">Settings</a>
        </li>
    </ul>
</nav>