<nav class="pla-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/mmos">MMOs</a>
        </li>
        <li>
            <a href="/seeds">Seeds</a>
        </li>
        <li>
            <a href="/distortions">Distortions</a>
        </li>
        <li>
            <a href="https://github.com/capitalism-sudo/pla-multi-checker/wiki" target="_blank">Wiki</a>
        </li>
        <li>
            <a href="/settings">Settings</a>
        </li>
    </ul>
</nav>